

.rel{
    position: relative;
}

.abs{
    position: absolute;
}


.block1{
    background: black;
    width: 40rem;
    height: 40rem;
}


.block2 {
    width: 10rem;
    height: 10rem;
    background: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

}

.block3{
    width: 3rem;
    height: 3rem;
    background: red;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);

}

.block4{
    width: 3rem;
    height: 3rem;
    background: red;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
}

.block3:hover {
    transform: rotate(180deg);
}